@font-face {
  font-family: 'Poppins-Regular';
  src: url('../webfonts/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../webfonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}